.slider-container {
    position: relative;
}

.row {
scrollbar-width: none;
-ms-overflow-style: none;
}

.row::-webkit-scrollbar {
display: none;
}

.movie-card {
width: 200px;
transition: transform 0.3s ease-in-out;
border-radius: 10px;
overflow: hidden;
}

.movie-card:hover {
transform: scale(1.05);
z-index: 1;
}

.movie-card img {
height: 300px;
object-fit: cover;
}

.card-body {
padding: 0.5rem;
}

.card-title {
font-size: 0.9rem;
margin-bottom: 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}