/* src/components/NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    background: linear-gradient(to bottom, #141414, #14141400);
    z-index: 5;
  }
  
  .logo img {
    width: 7.21219rem;
    height: 2.25rem;
    flex-shrink: 0;
  }
  
  .avatar button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .avatar img {
    height: 40px;
    border-radius: 50%;
  }
  