.user_profile {
  background: url('../../images/banner.png') fixed;
  background-size: 97.5vw;
  min-height: 75vh;
  padding: 12vh 30vw;
}

.profile_container {
  background-color: white;
  padding: 0 1vw 1vw 1vw;
  border-radius: 4px;
}

.avatar {
  margin: 1vw 1vw 1vw 0;
}

.profile_header {
  margin: 1vw 1vw 1vw 0;
  display: flex;
}

.profile_header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  font-family: "Bebas Neue";
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

#modif {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: var(--black);
  border-radius: 40px;
  border: none;
  padding: 1.25vh 1.75vw;
}

#pref {
  font-family: "Segoe UI";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

label,
#country,
#lang {
  color: var(--black);
  font-family: "Segoe UI";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

#country,
#lang {
  padding-left: 3px;
  width: 120px;
  border: 1px solid grey;
  border-radius: 4px;
}

.preference {
  display: flex;
  align-items: center;
}

.preference>select {
  margin: 1vw;
  border: none;
  background-color: white;
}

/* Style pour le container du switch */
.switch {
  margin: 1vw;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Cache le checkbox d'origine */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style pour le toggle */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Style pour la coche */
.toggle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.4s;
  left: 36px;
  top: 7px;
}

input:checked+.toggle {
  background-color: var(--dark-red);
}

input:checked+.toggle:before {
  transform: translateX(26px);
}

input:checked+.toggle:after {
  opacity: 1;
}

/* Optionnel: ajoute des styles de focus */
input:focus+.toggle {
  box-shadow: 0 0 1px var(--dark-red);
}

@media screen and (max-width: 990px) {
  .user_profile {
    background: var(--black);
    padding: 10vh 15vw 6vh;
    min-height: 30vh;
  }

  .profile_container {
    padding: 0 1vh 1vh 1vh;
  }

  .profile_header {
    padding: 0 0 1vh 0;
  }
}

@media screen and (max-width: 702px) {
  .avatar {
    width: 80px;
    height: 80px;
  }

  .profile_container {
    padding: 0.1vh 1vh 1vh 1vh;
  }
}

@media screen and (max-width: 453px) {
  #pref {
    font-size: 1.2rem;
  }

  label,
  #country,
  #lang {
    font-size: 1rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 385px) {
  .user_profile {
    padding: 7.5vh 5vw 5vh;
  }

  .profile_container {
    padding: 0 2vw;
  }
}